.newscard {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* border: 1px solid black; */
  box-sizing: border-box; /* border 안으로 넣기 */
}

.newsimg {
  width: 180px;
  height: 180px;
}

.newsimg {
  width: 180px;
  height: 180px;
  object-fit: cover;
}

.newsdesc {
  display: flex;
  flex-direction: column;
}
